@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@layer base {
  body {
    font-family: "Poppins", sans-serif;
    @apply bg-slate-900;
    padding: 35px;
    margin: 0;
  }
}

@layer components {
  .container {
    max-width: 1280px;
    @apply mx-auto;
  }

  .movie-list .swiper-slide {
    width: 250px;
    @media screen and (max-width: 760px) {
      width: 200px;
    }
  }

  .ep-list .swiper-slide {
    width: 100%;
  }

  .banner-wrapper {
    width: 100%;
    height: 100%;
  }

  .banner-wrapper .swiper-slide,
  .banner-wrapper .swiper-slide img,
  .banner-wrapper .swiper,
  .banner-wrapper .swiper-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 8px
  }
  .genres-list::after {
    display: block;
    width: 100%;
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    height: 20px;
  }
  .skeleton {
    background-color: #eee;
    background-image: linear-gradient(
      110deg,
      #ececec 8%,
      #f5f5f5 18%,
      #ececec 33%
    );
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    width: 100%;
    height: 100%;
  }
  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
  .sign-up-background {
      display: block;
      background: linear-gradient(to right, #0f172a 20%, transparent 80%);
    }
  }

